<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Main Template Css File-->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--Render All Elements Normally-->
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:wght@100..900&display=swap" rel="stylesheet">
    <title>ISI_BlOG</title>
</head>
<body>
    <header>
        <div class="container">
            <h2>ISI BLOG</h2>
            <i class="fa-solid fa-bars"></i>
            <div class="menu">
                    <a href="">Blog</a>
                    <a href="">Projects</a>
                    <a href="">About</a>
                    <a href="">Newsletter</a>
                    <div class="switch-content">
                        <div class="switcher"></div>
                        <i class="fa-light fa-moon"></i>
                    </div>
            </div>
        </div>
    </header>
    <section class="hero">
        <h1>THE BLOG</h1>
    </section>
    
</body>
</html>